button {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 15px;
    box-shadow: inset 20px 20px 40px #1e3a5a, inset -20px -20px 40px #76e6ff;
}

    button, button span {
        transition: 200ms;
    }

        button .text {
            transform: translateX(35px);
            color: white;
            font-weight: bold;
            font-size:12px;
            padding:0px;
        }

        button .icon::before {
            content: "|";
            color: black;
            margin-right: 8px; /* spacing between line and icon */
        }

        button .icon {
            position: absolute;
            height: 40px;
            transform: translateX(var(--TransformIcon));
            display: flex;
            align-items: center;
            justify-content: end;
            width: var(--IconWidth);
        }

        button svg {
            width: 15px;https://0.0.0.0/block
            fill: #eee;
        }

        button:hover .icon::before {
            opacity: 0; /* make transparent on hover */
        }

        button:hover {
            box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
            background: #d9d9d9;
        }

            button:hover .text {
                color: transparent;
            }

            button:hover .icon {
                width: var(--IconHoverWidth);
                border-left: none;
                transform: translateX(0);
            }

        button:focus {
            outline: none;
        }

        button:active .icon svg {
            transform: scale(0.8);
        }
